body{
	background-image: url(img/darktable.jpg);
	background-size: cover;
	overflow-x: hidden;
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
}

.top,
.intro{
	color: #fff;
}

.top{
	font-family: 'Gloria Hallelujah', sans-serif;
	font-size: 2.4vw; 
}

.intro{
	font-family: 'Alegreya', serif;
	font-size: 1.5vw;
	margin: 0 2em 2em 2em;
}

h3{
	font-size: 2vw;
}

blockquote{
	font-family: 'Quattrocento', serif;
}

.row{
	width: 100vw;
	margin: 2.5em 0;
}

.dice{
	text-align: center;
	color: #fff;
	/*width: 150px;
	padding: 2em;*/
	font-family: 'Nunito Sans', sans-serif;
}

.result{
	display: inline-block;
}

input{
	color: black;
}
