body{
	background-image: url(img/wood.jpg);
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
	overflow-x: hidden;
	overflow-y: scroll;
	font-size: 100%;
	position: absolute;
}

h1{
	font-size: 5vh;
}
h2{
	font-size: 3.4vh;
}

.top{
	background-image: url(img/paper.jpg);
	text-align: center;
	padding: 25px;
	margin: 25px;
	box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.6);
	font-family: 'Schoolbell', cursive, sans serif;
}

.startdate{
	background-image: url(img/paper2.jpg);
	display: inline-block;
	text-align: left;
	padding: 5px 25px;
	margin: 5px 25px 25px 25px;
	box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.6);
	font-family: 'Schoolbell', cursive, sans serif;
}

#catimg{
	transform: rotate(10deg);
}

.links{
	background-image: url(img/notebook2.png);
	background-size: cover;
	border-radius: 5px;
	margin: auto;
	width: 70%;
	text-align:center;
	font-family: 'Handlee', cursive, sans serif;
	color: brown;
	font-size: 3.4vh;
	padding: 5em 2em 4em 0;
	/*display: inline-block;*/
}

.days{
	display: inline-block;
	margin: 0;
	font-weight: bold;
}

a:link{
	color: red;
	background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: lightcoral;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: orange;
    background-color: transparent;
    text-decoration: none;
}

#ABOUTME{
	background-image: url(img/paper2.jpg);
	border-radius: 50%;
	position: fixed;
	right: 1em;
	bottom: 5em;
	padding: 1em;
}

.tooltip{
	position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
	font-family: 'Reenie Beanie', cursive, sans serif;
	font-size: 1.5em;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
	top: -5px;
    right: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*update modal*/
.modal{
	position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content{
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
  border: 1px solid #888;
	width: 50%;
	font-family: 'Reenie Beanie', cursive, sans serif;
	font-size: 2em;
}

.close {
    color: #aaa;
    float: right;
    font-size: 2em;
    font-weight: bold;
}

.close:hover{
	color: #000;
	cursor: pointer;
	-ms-transform: scale(1.5, 1.5); /* IE 9 */
  -webkit-transform: scale(1.5, 1.5); /* Safari */
  transform: scale(1.5, 1.5);
}
