body{
	background-image: url(img/notebook_rs.jpg);
	background-size: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	font-size: 100%;
}

.top{
	background-image: url(img/paper.jpg);
	text-align: center;
	padding: 25px;
	margin: 25px;
	box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.6);
	font-family: 'Schoolbell', cursive, sans serif;
}

.startdate{
	background-image: url(img/paper2.jpg);
	display: inline-block;
	text-align: left;
	padding: 5px 25px;
	margin: 5px 25px;
	box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.6);
	font-family: 'Schoolbell', cursive, sans serif;
}

#catimg{
	transform: rotate(10deg);
}

.links{
	margin: 0;
	padding-left: 3em;
	padding-top: 8em;
	position: relative;
	left: 20%;	
	transform: rotate(-11deg);	
}
td{
	font-family: 'Handlee', cursive, sans serif;
	color: brown;
	font-size: 2em;
}

a:link{
	color: red;
	background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: orange;
    background-color: transparent;
    text-decoration: none;
}

#ABOUTME{
	background-image: url(img/paper2.jpg);
	border-radius: 50%;
	position: fixed;
	right: 1em;
	bottom: 5em;
	padding: 1em;
}

.tooltip{
	position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
	font-family: 'Reenie Beanie', cursive, sans serif;
	font-size: 1.5em;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
	top: -5px;
    right: 105%; 
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
</style>